/**
 * Modules
 */


@import '_variables'
@import '_mixins'
@import 'jeet'
@import 'rupture'


/*
 * Debug Status
 */

.wplv-module--debug-status
	display inline-block
	color $white
	font-size 0.4em
	font-weight bold
	line-height 1.2em
	border-radius 5px
	padmar 5px 8px, 0

	&.enabled
		background-color $debug-enabled-color

	&.disabled
		background-color $debug-disabled-color

	&.not-detected
		color $black
		background-color $debug-detected-color

	&.simulating
		background-color $debug-simulating-color


/*
 * Error legends
 */

.wplv-module--error-legends
	display block
	list-style none
	padmar 0, 0

	li
		display block
		text-align left
		font-size 0.8em

		.count
			display inline-block
			font-size 1em
			line-height 1em
			color $black
			background-color $misc-error-color !important
			border-radius 4px
			padmar 4px 5px, 0 5px 0 0

		&.wordpress-database-error
			.count
				color $white
				background-color $database-error-color !important

		&.php-deprecated
			.count
				background-color $deprecated-error-color !important

		&.php-fatal-error
			.count
				color $white
				background-color $fatal-error-color !important

		&.php-notice
			.count
				color $white
				background-color $notice-error-color !important

		&.php-warning
			.count
				background-color $warning-error-color !important


/*
 * Error summary
 */

.wplv-module--error-summary
	.error-type
		display inline-block
		padding-right 40px

		.type
			font-weight bold
			padding-left 5px

	.line-number
		display inline-block

		.line
			font-weight bold
			padding-left 5px

	.file-path
		display block

		.file
			font-weight bold
			padding-left 5px


/*
 * Filesize
 */

.wplv-module--filesize
	display block


/*
 * Search Component
 */

.wplv-module--search
	width 100%

	.search-component
		display block
		background-color $input-bg-color
		border 1px solid $input-border-color
		border-radius 6px
		padmar 4px, 0

		.fa
			margin-left 6px

		.search-field
			position relative
			display inline-block
			right 0
			left 8px
			font-size 1.15em
			width inherit
			color $input-color
			background none
			box-shadow none
			border none

			&::-webkit-input-placeholder
				font-style italic
				color $input-placeholder-color

	.search-query
		display block
		font-size 1em
		font-style italic
		margin-top 8px

		.label
			color lighten($text-color, 45%)

		.query
			font-weight bold


/*
 * Time Stamp
 */

.wplv-module--timestamp
	.date
		font-weight 700