/**
 * Variables
 */


// Colors
$black						= #000000
$blue						= #2980b9
$dark-grey					= #34495e
$green						= #27ae60
$light-grey					= #d1d1d1
$light-red					= #e74c3c
$orange						= #e67e22
$medium-grey				= #879394
$purple						= #8e44ad
$red						= #c0392b
$white						= #ffffff
$yellow						= #f39c12

$text-color					= #222222
$default-legend-color		= #cacaca

$debug-enabled-color		= $green
$debug-disabled-color		= $red
$debug-detected-color		= $yellow
$debug-simulating-color		= $dark-grey

$database-error-color		= $purple
$default-error-color		= $light-grey
$deprecated-error-color		= $medium-grey
$fatal-error-color			= $light-red
$misc-error-color			= $default-legend-color
$notice-error-color			= $dark-grey
$warning-error-color		= $yellow

$input-color				= #222222
$input-bg-color				= #e3e3e3
$input-border-color			= darken($input-bg-color, 10%)
$input-placeholder-color	= darken($input-bg-color, 30%)

$modal-bg					= $white
$modal-pane-bg				= rgba($white, 0.7)

$humane-success				= $green
$humane-error				= $red
$humane-alert				= lighten($light-grey, 40%)


/**
 * Grids
 */
for index in (1...100)
	.col{index}
		col(index/100)