/*
 * Dependencies
 */

@import '_variables'
@import '_mixins'
@import '_modules'
@import 'Jeet'
@import 'rupture'


/*
 * Global Styles
 */

#wp-admin-bar-wplv-menu,
#wplv-container,
#wplv-dashboard-widget-container
	a
		text-decoration none

	.error-count
		display inline-block
		font-size 1em
		line-height 1em
		border-radius 5px
		padmar 4px, 0 0 0 8px

		&.no-errors
			color $white
			background-color $green

		&.has-errors
			color $white
			background-color $red

	.force-wrap
		word-wrap break-word


/*
 * Plugin Styles
 */

#wplv-viewer-container
 	cf()
	padding 25px 0 0

	a, a:hover
		text-decoration none !important


.wplv-page--header
	cf()
	display block
	margin 0 0 30px

	> header
		cf()
		display block
		padding 0 0 15px

		h2
			span(0.2)
			font-size 1.8em
			box-sizing border-box

			.wplv-module--debug-status
				padmar 3px 8px, 0 0 0 10px

		.wplv-module--error-legends
			span(0.8)
			text-align left
			list-style none
			box-sizing border-box
			padmar 18px 0 0 25px, 0

			li
				display inline-block
				line-height 1.1em
				padmar 0, 0 0 0 25px

				&:first-child
					margin-left 0

.wplv-page--viewer
	display block


.wplv-page--content
	cf()
	span(0.85)
	box-sizing border-box
	padmar 20px 25px 0 0, 0

	.entries-header
		padding-bottom 30px

		h3
			span(0.15)
			display inline-block
			padmar 0, 0

		.entries-count
			display inline-block
			padding-left 16px

			.count
				color $white
				border-radius 5px
				padmar 2px 5px, 0 5px 0 0

				&.has-errors
					background-color $red

				&.no-errors
					background-color $green

	.group-entries,
	.log-entries
		.group-entry,
		.log-entry
			&.wordpress-database-error
				border-left-color $database-error-color

			&.php-deprecated
				border-left-color $deprecated-error-color

			&.php-fatal-error
				border-left-color $fatal-error-color

			&.php-notice
				border-left-color $notice-error-color

			&.php-warning
				border-left-color $warning-error-color

			.message
				.wplv-module--error-summary
					font-size 0.85em
					padding 15px 0 0

					&:empty
						dipslay none

	.group-entries
		.group-entry
			cf()
			border-left 3px solid $default-legend-color
			border-bottom 1px solid lighten($black, 88%)
			box-sizing border-box
			padmar 3px 0 0 15px, 0 0 25px

			.summary
				span(0.15)
				box-sizing border-box

				.wplv-module--timestamp
					font-size 0.85em

			.message
				span(0.85)
				box-sizing border-box

				.force-wrap
					word-wrap break-word

				.group-entry-details
					padding 15px 0 0

					.details
						background-color lighten($black, 89%)
						padding 6px 20px

						.toggle,
						.toggle:hover
							display block
							background-color lighten($black, 84%)
							text-decoration none
							padmar 6px 20px, -6px -20px

						.label
							padding-top 10px

						.wplv-module--timestamp
							font-size 0.85em
							line-height 1em
							padding-bottom 6px

							&:last-child
								padding-bottom 0

							.date,
							.time
								display inline-block
								font-weight normal

							.date
								padding-right 15px

					&.active
						.details
							padding-bottom 15px


	.log-entries
		.log-entry
			border-left 3px solid $default-legend-color
			border-bottom 1px solid lighten($black, 88%)
			padmar 3px 0 18px 15px, 0 0 25px

			.wplv-module--timestamp
				font-size 0.85em
				padding-bottom 6px

				.date,
				.time
					display inline-block

				.date
					padding-right 35px


.wplv-page--sidebar
	cf()
	span(0.15)
	box-sizing border-box
	border-left 1px solid lighten($black, 85%)
	padmar 20px 0 25px 25px, 0

	.menu-group
		padmar 0 0 30px, 0

		h3
			padmar 0, 0

		ul
			padmar 10px 0 0, 0
			li
				padmar 0 0 8px, 0

				&:last-child
					padding-bottom 0

				a
					color $text-color
					text-decoration none
					padding 3px 12px

					&:hover
						color lighten($text-color, 10%)

					.fa
						margin-right 7px

				&.active
					a
						background lighten($black, 85%)
						border 1px solid lighten($black, 82%)
						border-radius 5px

				span
					font-size 0.85em
					line-height 1em

	.last-modified,
	.log-filesize
		padmar 15px 0 0, 0

		h4
			font-size 1em
			line-height 1em
			font-weight bold
			padmar 0, 0 0 5px

	.last-modified
		.wplv-module--timestamp
			font-size 0.85em

	.log-filesize
		.wplv-module--filesize
			font-size 0.85em

	&:empty
		display none


/*
 * Humane Alerts
 */

.humane-wplv-alert,
.humane-wplv-error,
.humane-wplv-success
	text-align left
	box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.53);
	padding 8px 20px 12px

.humane-wplv-alert
	color $black
	background $humane-alert

.humane-wplv-error
	color $white
	background $humane-error

.humane-wplv-success
	color $white
	background $humane-success


/*
 * Admin bar
 */

#wp-admin-bar-wplv-menu
	padding 0 10px !important

	.error-count
		font-size 0.7em

	.summary
		display inline
		font-weight bold
		padmar 0, 0 0 0 10px

	.debug-status
		display inline-block
		font-size 0.8em

		&.enabled
			color $debug-enabled-color

		&.disabled
			color $debug-disabled-color

		&.simulating
			color lighten($blue, 50%)


/*
 * Dashboard Widget
 */

#wplv-dashboard-widget-container
	.button
		display inline-block
		margin-top 18px

		i
			margin-right 5px

		&:hover
			color $light-grey

	.error-types-list
		list-style none
		padmar 0, 0

		li
			list-style none
			border 0
			border-left 2px
			padmar 5px 0, 0

			.label
				col(0.4)
				dislplay inline-block
				font-weight bold

			.count
				col(0.58)
				dislplay inline-block
				font-weight bold

			.fa
				display inline-block
				margin-right 6px

	.wordpress-database-error
		.fa
			color $database-error-color !important

	.php-deprecated
		.fa
			color $deprecated-error-color !important

	.php-fatal-error
		.fa
			color $fatal-error-color !important

	.php-notice
		.fa
			color $notice-error-color !important

	.php-warning
		.fa
			color $warning-error-color !important

	.php-misc
		.fa
			color $misc-error-color !important







//****************************
#wplv-container
	min-height 800px
	color $text-color
	height 100%

	.error-indicator-legend
		list-style none
		padmar 0, 0 0 45px

		li
			display inline-block
			font-size 0.8em
			font-weight bold
			list-style none
			border-left 4px solid
			padmar 0 0 0 5px, 0 30px 0 0

	.wordpress-database-error
		border-color $database-error-color !important

	.php-deprecated
		border-color $deprecated-error-color !important

	.php-fatal-error
		border-color $fatal-error-color !important

	.php-notice
		border-color $notice-error-color !important

	.php-warning
		border-color $warning-error-color !important

	.content-pane
		col(0.73)
		display inline-block
		min-height 800px
		border none
		border-right 1px solid $light-grey
		box-sizing border-box

		.view-header
			cf()
			display block
			width 96%
			padding 15px 0 15px

			h2
				col(0.34)
				display inline-block

				.debugger-status
					display inline-block
					font-size 10px
					font-weight bold
					line-height 11px
					color $black
					border-radius 5px
					padmar 5px 8px, 0 0 0 10px

					&.enabled
						color $white
						background $debug-enabled-color

					&.disabled
						color $white
						background $debug-disabled-color

					&.not-detected
						background $debug-detected-color

					&.simulating
						color $white
						background $debug-simulating-color

			.error-indicator-legend
				col(0.64)
				display inline-block
				text-align right
				padding-top 15px
				margin-bottom 0

				li
					padmar 0 0 0 5px, 0 0 0 25px

					&:first-child
						margin-left 0

			+below(1270px)
				h2
					display block
					col(1)

				.error-indicator-legend
					display block
					col(1)
					text-align left

		.search-group
			display block
			width 96%
			padmar 0, 10px 0 30px

			.search-component
				display block
				background-color $input-bg-color
				border 1px solid $input-border-color
				border-radius 6px
				padmar 4px, 0

				.fa
					margin-left 6px

				.search-field
					position relative
					display inline-block
					right 0
					left 8px
					font-size 1.15em
					width inherit
					color $input-color
					background none
					box-shadow none
					border none

					&::-webkit-input-placeholder
						font-style italic
						color $input-placeholder-color

			.search-query
				display block
				font-size 0.9em
				font-style italic
				margin-top 8px

		.viewer-pane
			display block

			.loading-viewer
				font-size 1.2em
				text-align center
				padding-top 50px

				.fa
					display inline-block
					margin-right 15px

			.content
				display block
				width 96%
				padding-top 10px

			.entries-list-header
				col(1)
				width 96%
				margin-bottom 10px

				h3
					col(0.48)
					display inline-block

				.entries-count
					col(0.5)
					display inline-block
					font-weight bold
					font-size 0.9em
					text-align right
					padding-top 1.9em

			.loading-status
				display block
				width 50px
				heigh 50px
				margin 180px auto 0

			.group-entries,
			.log-entries
				display block
				min-height 530px
				height 100%
				padding 0 4% 0 0

				.error-details
					display block
					font-size 0.85em
					margin 15px 0 0

					&:empty
						display none

					.error-type,
					.file-path,
					.line-number
						color lighten($text-color, 50%)

					.file,
					.line,
					.type
						color $text-color
						font-weight bold
						margin-left 8px

					.file
						margin-left 13px

					.type
						margin-left 5px

			.log-entries
				.log-entry
					span(1)
					border-left 4px solid $misc-error-color
					margin-bottom 15px

					.when
						col(0.15, offset: 0.02)
						font-size 0.8em

						.date
							display block
							font-weight bold

					.message
						col(0.82)
						font-size 1em

					&.padded-top
						margin-top 22px

			.group-entries
				.group-entry
					span(1)
					border-left 4px solid $misc-error-color
					margin-bottom 30px

					.when
						col(0.15, offset: 0.02)
						font-size 0.8em

						.date
							display block
							font-weight bold

						.time
							display block

					.message
						col(0.82)
						font-size 1.1em

					.group-actions
						span()
						font-size 0.8em
						margin-top 3px

					.group-entry-details
						span()
						background #eaeaea
						border-bottom 1px solid $light-grey
						padding 10px 0
						margin 12px 0 0

						.details
							display block
							padding 0 15px

						.when
							span()
							margin 0 0 4px

							.date
								col(0.20)

							.time
								col(0.70)

					.group-entry-details.active
						padding-bottom 8px
						margin-bottom 10px

					.show-group-details,
					.hide-group-details
						display block
						font-size 0.8em
						text-decoration none

					.hide-group-details
						margin-bottom 10px

	.sidebar
		display inline-block
		col(0.25)
		padding-top 30px

		.refresh-status
			margin 0 0 25px

			.refresh-btn
				display inline-block
				font-size 0.9em
				color $white
				background #555
				border 1px solid #444
				border-left 1px solid #666
				border-top 1px solid #666
				padding 6px 20px
				border-radius 4px
				text-decoration none

		.menu-group
			margin 0 0 25px

			h3
				font-size 1.2em
				margin 0 0 6px

			ul
				display block
				list-style none
				padding 0

				li
					list-style none
					padding 1px 0
					margin 0

					.fa
						margin-right 6px

					a
						display inline-block
						color #333
						font-size 0.9em
						border-radius 4px
						text-decoration none
						padding 4px 10px
						margin-bottom 1px

						&:hover
							color #444

					&.active a
						background-color lighten($light-grey, 40%)
						border 1px solid darken($light-grey, 10%)

		.last-modified
			font-size 0.85em
			padding-top 5px

			.when
				display block;

		.log-filesize
			font-size 0.85em
			margin-top 15px

	.inline-buttons
		display block
		padmar 0, 0

		li
			display inline-block
			padmar 0, 0 0 0 8px

			&:first-child
				margin-left 0

	.start-simulation-btn,
	.stop-simulation-btn
		display inline-block
		border-radius 4px
		color $white
		font-size 1.1em
		text-decoration none
		padmar 0.5em 2.4em 0.5em 1em, 0

		i
			margin-right 5px

		&:hover
			color $white

	.start-simulation-btn
		background $dark-grey

	.stop-simulation-btn
		background $red

	.debugging-unknown
		font-size 1.2em

	.highlight
		color #ff0000
		background transparent

	.code-snippet
		color $white
		line-height 1.5em
		border 2px solid darken($dark-grey, 20%)
		background $dark-grey
		padding 15px