body
	min-height 1200px
	height 100%
	
.debugger-status.enabled
	background #006600
	
.debugger-status.disabled
	background #ff0000
	
#viewer-pane
	
	h2
		margin 0 0 15px
		
		.debugger-status
			display inline-block
			font-size 11px
			line-height 11px
			color #fff
			border-radius 6px
			padding: 5px
			margin-left 8px
		
	.log-entries
		display inline-block
		width 80%
		min-height 530px
		height 100%
		float left
		background #f5f5f5
		border none
		border-bottom 1px solid #d9d9d9
		box-sizing border-box
		padding 15px
		
		.log-entry
			margin-bottom 5px
			
			.when
				display inline-block
				width 160px
				
			.time
				display inline-block
				width 160px
			
			.message
				display inline-block

	.sidebar
		display inline-block
		float left
		padding-left 4%
		
		h3
			font-size 1.2em
			margin 0 0 10px
			
		ul
			display block
			list-style none
			padding 0
			margin 0 0 25px
			
			li
				list-style none
				padding 1px 0
				margin 0
				
		small
			font-size 0.85em
	
	.highlight
		color #ff0000
		background transparent

	.code-snippet
		border 1px solid #f0f0f0
		background #fafafa
		padding 15px
				