/*
 * Dependencies
 */

@import '_variables'
@import '_mixins'
@import '_modules'
@import 'Jeet'
@import 'rupture'


/*
 * Blocks
 */

sidebar-menu-icon = @block {
	display inline-block
	background transparent
	color $text-color
	text-align center
	text-decoration none
	border 1px solid lighten($black, 84%)
	border-radius 5px
	padding 3px 8px
	margin 0 4px 0 0
}


/*
 * Global Styles
 */

#wp-admin-bar-wplv-menu,
#wplv-container,
#wplv-dashboard-widget-container
	a
		text-decoration none

	.error-count
		display inline-block
		font-size 1em
		line-height 1em
		border-radius 5px
		padmar 4px, 0 0 0 8px

		&.no-errors
			color $white
			background-color $green

		&.has-errors
			color $white
			background-color $red

	.force-wrap
		word-wrap break-word


/*
 * Plugin Styles
 */

#wplv-viewer-container
 	cf()
	padding 25px 0 0

	a, a:hover
		text-decoration none !important

.wplv-page--header
	cf()
	display block
	margin 0 0 30px

	> header
		cf()
		display block
		padding 0 0 15px

		h2
			+below(1199px)
				span(0.3)
			+above(1200px)
				span(0.2)
			font-size 1.8em
			box-sizing border-box

			.wplv-module--debug-status
				padmar 3px 8px, 0 0 0 10px

		.wplv-module--error-legends
			+below(1199px)
				span(0.7)
			+above(1200px)
				span(0.8)
			text-align left
			list-style none
			box-sizing border-box
			padmar 22px 0 0 25px, 0

			li
				display inline-block
				line-height 1.1em
				margin-right 15px
				cursor pointer

				&:last-child
					margin-right 0

.wplv-page--viewer
	display block


.wplv-page--content
	cf()
	+between(768px, 1039px)
		span(0.8)
	+above(1040px)
		span(0.85)
	box-sizing border-box
	padmar 20px 25px 0 0, 0

	.entries-header
		padding-bottom 30px

		h3
			display inline-block
			padmar 0, 0

		.entries-count
			display inline-block
			padding-left 43px

			.count
				color $white
				border-radius 5px
				padmar 2px 5px, 0 5px 0 0

				&.has-errors
					background-color $red

				&.no-errors
					background-color $green

	.group-entries,
	.log-entries
		.group-entry,
		.log-entry
			&.wordpress-database-error
				border-left-color $database-error-color

			&.php-deprecated
				border-left-color $deprecated-error-color

			&.php-fatal-error
				border-left-color $fatal-error-color

			&.php-notice
				border-left-color $notice-error-color

			&.php-warning
				border-left-color $warning-error-color

			.message
				.wplv-module--error-summary
					font-size 0.85em
					padding 15px 0 0

					&:empty
						dipslay none

	.group-entries
		.group-entry
			cf()
			border-left 4px solid $default-legend-color
			border-bottom 1px solid lighten($black, 88%)
			box-sizing border-box
			padmar 3px 0 0 15px, 0 0 25px

			.summary
				+below(767px)
					span(1)
					display block
				+between(768px, 1199px)
					span(0.18)
				+above(1200px)
					span(0.15)
				box-sizing border-box

				.wplv-module--timestamp
					+below(767px)
						font-size 0.9em
						padding-bottom 10px

						.date,
						.time
							display inline-block

						.date
							padding-right 35px
					+above(768px)
						font-size 0.85em

			.message
				+below(767px)
					span(1)
					display block
				+between(768px, 1199px)
					span(0.82)
				+above(1200px)
					span(0.85)
				box-sizing border-box

				.force-wrap
					word-wrap break-word

				.group-entry-details
					padding 15px 0 0

					.details
						background-color lighten($black, 89%)
						padding 6px 20px

						.toggle,
						.toggle:hover
							display block
							background-color lighten($black, 84%)
							text-decoration none
							padmar 6px 20px, -6px -20px

						.label
							padding-top 10px

						.wplv-module--timestamp
							font-size 0.85em
							line-height 1em
							padding-bottom 6px

							&:last-child
								padding-bottom 0

							.date,
							.time
								display inline-block
								font-weight normal

							.date
								padding-right 15px

					&.active
						.details
							padding-bottom 15px


	.log-entries
		.log-entry
			border-left 4px solid $default-legend-color
			border-bottom 1px solid lighten($black, 88%)
			padmar 3px 0 18px 15px, 0 0 25px

			.wplv-module--timestamp
				font-size 0.85em
				padding-bottom 6px

				.date,
				.time
					display inline-block

				.date
					padding-right 35px


/**
 * Settings Pane
 */

.wplv-container
	.settings-pane
		.wplv-module--form
			label
				display block
				font-size 1.1em
				margin-bottom 4px

			.buttons
				margin-top 10px

		.custom-errors-list
			.header
				cf()
				border-bottom 1px solid #dadada
				box-sizing border-box
				padding 10px 0

				.error-label,
				.error-key
					span(0.30)
					display inline-block
					font-weight 700

				.legend-color,
				.legend-background
					span(0.15)
					display inline-block
					font-weight 700
					text-align center

			.table-row
				cf()
				border-bottom 1px solid #dfdfdf
				padding 4px 0

				.error-label,
				.error-key
					span(0.30)
					display inline-block

				.legend-color,
				.legend-background
					span(0.15)
					display inline-block
					text-align center

				.actions
					span(0.10)
					display inline-block

					a
						display inline-block
						text-decoration none
						color $text-color
						font-size 1em
						margin-right 14px

				.color-swatch
					display block
					width 10px
					height 10px
					border 1px solid $black
					margin 5px auto 0

		.view-buttons
			padmar 0, 5px 0 15px

			a
				display inline-block
				text-decoration none
				color $text-color !important
				background #e8e8e8
				border 1px solid #ccc
				border-radius 4px
				padmar 5px 15px, 0 5px 0 0

				&.primary
					color $white !important
					background #444
					border 1px solid #333


/**
 * Sidebar
 */

.wplv-page--sidebar
	cf()
	+between(768px, 1039px)
		span(0.2)
	+above(1040px)
		span(0.15)

	.sidebar-container
		width 100%
		background-color $white
		border-left 1px solid lighten($black, 85%)
		box-sizing border-box
		padmar 20px 0 25px 25px, 0

	.menu-group
		padmar 0 0 20px, 0

		h3
			font-size 20px
			padmar 0, 0

		ul
			padmar 10px 0 0, 0
			li
				display inline-block
				padmar 0 0 8px, 0

				&:last-child
					padding-bottom 0

				a
					{sidebar-menu-icon}

					&:hover
						color lighten($text-color, 25%)

				&.active
					a
						color $white
						background $black
						border-color $black

						&:hover
							background lighten($black, 20%)

				span
					display none
					font-size 0.85em
					line-height 1em

	.menu-links
		padding-bottom 15px

		ul
			list-style none
			padmar 0, 0

			li
				padmar 3px 0, 0

				a, a:hover
					color $text-color
					text-decoration none

	.last-modified,
	.log-filesize
		padmar 15px 0 0, 0

		h4
			font-size 1em
			line-height 1em
			font-weight bold
			padmar 0, 0 0 5px

	.last-modified
		.wplv-module--timestamp
			font-size 0.85em

	.log-filesize
		.wplv-module--filesize
			font-size 0.85em

	&:empty
		display none


.fixed-sidebar
	.wplv-page--sidebar
		position relative

		.sidebar-container
			position fixed
			top 35px
			z-index 3000


/**
 * Help Section
 */

.help-container
	.help-section
		box-sizing border-box
		padmar 5px 0 20px, 0

		.sidebar-icon
			{sidebar-menu-icon}
			margin-left 10px

		ul
			list-style circle
			padding-left 18px

		.code
			border 1px solid #eaeaea
			background #efefef
			padmar 15px, 5px 0 10px

		p
			.heading
				display block
				margin 0 0 2px

	.back-btn
		a
			color $white !important
			background $black !important
			border-color $black !important

			&:hover
				background lighten($black, 20%) !important

	.help--questions
		padmar  10px 0 0, 0

		li
			position relative
			display inline-block
			width 48%
			font-size 1.1em
			line-height 1.15em
			box-sizing border-box
			padmar 0 0 12px 20px, 0

			a
				color $text-color
				text-decoration none

			.fa
				position absolute
				left 0

			&:nth-child(odd)
				margin-right 4%


/*
 * Humane Alerts
 */

.humane-wplv-alert,
.humane-wplv-error,
.humane-wplv-success
	text-align left
	box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.53);
	padding 8px 20px 12px

.humane-wplv-alert
	color $black
	background $humane-alert

.humane-wplv-error
	color $white
	background $humane-error

.humane-wplv-success
	color $white
	background $humane-success


/*
 * Admin bar
 */

#wp-admin-bar-wplv-menu
	padding 0 10px !important

	.error-count
		font-size 0.7em

	.summary
		display inline
		font-weight bold
		padmar 0, 0 0 0 10px

	.debug-status
		display inline-block
		font-size 0.8em

		&.enabled
			color $debug-enabled-color

		&.disabled
			color $debug-disabled-color

		&.simulating
			color lighten($blue, 50%)


/*
 * Dashboard Widget
 */

#wplv-dashboard-widget-container
	.button
		display inline-block
		margin-top 18px

		i
			margin-right 5px

		&:hover
			color $light-grey

	.error-types-list
		list-style none
		padmar 0, 0

		li
			list-style none
			border 0
			border-left 2px
			padmar 5px 0, 0

			.label
				col(0.4)
				dislplay inline-block
				font-weight bold

			.count
				col(0.58)
				dislplay inline-block
				font-weight bold

			.fa
				display inline-block
				margin-right 6px

	.wordpress-database-error
		.fa
			color $database-error-color !important

	.php-deprecated
		.fa
			color $deprecated-error-color !important

	.php-fatal-error
		.fa
			color $fatal-error-color !important

	.php-notice
		.fa
			color $notice-error-color !important

	.php-warning
		.fa
			color $warning-error-color !important

	.php-misc
		.fa
			color $misc-error-color !important