// Colors
$black						= #000000
$blue						= #2980b9
$dark-grey					= #34495e
$green						= #27ae60
$light-grey					= #d1d1d1
$light-red					= #e74c3c
$red						= #c0392b
$white						= #ffffff
$yellow						= #f1c40f

$text-color					= #222222
$default-legend-color		= #cacaca

$debug-enabled-color		= $green
$debug-disabled-color		= $red
$debug-detected-color		= $yellow
$debug-simulating-color		= $dark-grey

$fatal-error-color			= $light-red
$misc-error-color			= $default-legend-color
$notice-error-color			= $dark-grey
$warning-error-color		= $yellow

$input-color				= #222222
$input-bg-color				= #dcdcdc
$input-border-color			= #afafaf
$input-placeholder-color	= darken($input-bg-color, 30%)

$humane-success				= $green
$humane-error				= $red
$humane-alert				= lighten($light-grey, 40%)