// Colors

$text-color				= #222
$default-legend-color	= #e1e1e1

$fatal-error-color		= #e74c3c
$misc-error-color		= $default-legend-color
$notice-error-color		= #34495e
$warning-error-color	= #f1c40f


